@using BestChoiceQatar.Core.Entities.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="kq6PNeESITpcDxOOHZ2B4VgLbnzfu9sh0jzhC9Bpa1E" />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewBag.Title</title>
    <meta content="@ViewBag.description" name="description">
    <meta content="@ViewBag.keywords" name="keywords">

    <!-- Favicons -->

    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

    <link href="~/Content/bootstrap-toastr/toastr.min.css" rel="stylesheet" />


    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="">info@bestchoiceqatar.net</a>
                <a href="tel:+974 5030 7568" class="facebook"><i class="bi bi-phone-fill phone-icon"></i> +974 5030 7568</a>


            </div>
            <div class="social-links d-none d-md-block">
               
                <a target="_blank" href="https://twitter.com/bestchoiceqatar" class="twitter"><i class="bi bi-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/bestchoicecontracting/"  class="facebook"><i class="bi bi-facebook"></i></a>
                <a  target="_blank" href="https://www.instagram.com/bestchoiceqatar/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/bestchoice-contracting/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section>
    
    <!-- ======= Hero Section ======= -->

    
        @RenderBody()
  

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img width="200px" height="58px"
                        <img src="~/content/assets/img/logo/logo-1.png" alt="">

                        <p>
                            <br>
                            Old Al Ghanem <br>
                            Doha-Qatar<br><br>

                            <strong>Phone:</strong> +974 5030 7568<br>
                            <strong>Phone:</strong> +974 4001 1200<br>
                            <strong>Email:</strong> info@bestchoiceqatar.net<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/about">About</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/portable-cabin-fabrication">Products</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/general-contracting">services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="~/Content/assets/Brochure/Brochure.html.pdf">Brochure</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
                        </ul>
                    </div>



                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Product & Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/portable-cabin-fabrication">Portable Cabin Fabrication</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/steel-aluminum-fabrication">Steel & Aluminum Fabrication</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="/building-painting-contractor">Building Painting Contractor</a></li>
                            @* <li><i class="bx bx-chevron-right"></i> <a href="/designing">Designing</a></li>
        <li><i class="bx bx-chevron-right"></i> <a href="/printing">Printing</a></li>*@
                            <li><i class="bx bx-chevron-right"></i> <a href="/general-contracting">General Contracting</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="/optical-fibre-networks">Optical Fibre Networks</a></li>
                            @*<li><i class="bx bx-chevron-right"></i> <a href="/car-rental">Rent a Car </a></li>*@
                        </ul>
                    </div>


                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Working Hours</h4>
                        <p>
                            We work 6 days a week, every day excluding major holidays. Contact us if you have an emergency,
                            with our Hotline and Contact form.
                        </p>
                        <br><p>
                            Saturday - Thursday:<span class="text-right">08:am - 06:pm </span>
                            <br>
                        <p>Friday:<span class="text-right">Holiday</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>bestchoice</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by: <a href="http://www.mybusinesswebsolutions.com" target="_blank">MBWS Software Solutions</a>
            </div>
        </div>
    </footer><!-- End Footer -->



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    @*  <script src="~/Scripts/jquery.min.js"></script>*@
    <script src="~/Content/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/bootstrap-toastr/toastr.min.js"></script>
    <script src="~/Content/app.js" type="text/javascript"></script>
    <script src="~/Scripts/app.js"></script>
   @* <script src="~/Areas/backend/assets/js/jquery.livequery.js" type="text/javascript"></script>*@
    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    @*<script src="~/Scripts/jquery.livequery.js"></script>*@
    <script>
        $(document).ready(function () {
            App.init();
            @{
                if (TempData["Notification"] != null)
                {
                    Notification notification = (Notification)TempData["Notification"];
                    <text>WebApp.Notifications.Show('@notification.Type', '@notification.Text');</text>
                }
             }
        });
    </script>
    
</body>

</html>